.container {
    background-color: burlywood;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img {
    width: 20px;
}

p, button {
     margin-left: 10px;
     margin-top: 0;
 }